In [1]:
import pandas as pd

In [11]:
test_data = pd.read_csv('./test.csv')
test_data.shape

(1009, 2)

In [10]:
train_data = pd.read_csv('./train.csv')
train_data.shape

(4036, 2)

In [15]:
frames = [test_data, train_data]

In [17]:
final_dataset = pd.concat(frames)
final_dataset.shape

(5045, 2)

In [20]:
final_dataset.head(10)

,word_labels,sentence
4026,"O,O,O,O,O,O,O,O,O,Generic he,O,O,O,O,O,",The writer wrote a book about the carpenter be...
4027,"O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O",reports to the executive director and a member...
4028,"O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O",Your talent will be nurtured and you will be o...
4029,"O,O,O,O,O,O,O,O,O,O,O,O,Generic he,O,O,O,",The construction worker went to a meeting with...
4030,"O,O,O,O,O,O,O,O,Explicit Marking of Sex,i-Expl...",What we're looking for You will have strong ma...
4031,"O,O,O,Behavioural Stereotypes,O,O,O,O,O,O,O,O,...","anyone who can empathise with others, is smart..."
4032,"Societal Stereotypes,i-Societal Stereotypes,i-...",Cashiers are women.
4033,"Societal Stereotypes,i-Societal Stereotypes,i-...",Distribution supervisors are men.
4034,"O,Behavioural Stereotypes,O,Behavioural Stereo...",strong leadership and leadership skills (abili...
4035,"O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O",Work cooperatively with each client’s team (wh...

In [21]:
final_dataset.tail(10)

,word_labels,sentence
4026,"O,O,O,O,O,O,O,O,O,Generic he,O,O,O,O,O,",The writer wrote a book about the carpenter be...
4027,"O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O",reports to the executive director and a member...
4028,"O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O",Your talent will be nurtured and you will be o...
4029,"O,O,O,O,O,O,O,O,O,O,O,O,Generic he,O,O,O,",The construction worker went to a meeting with...
4030,"O,O,O,O,O,O,O,O,Explicit Marking of Sex,i-Expl...",What we're looking for You will have strong ma...
4031,"O,O,O,Behavioural Stereotypes,O,O,O,O,O,O,O,O,...","anyone who can empathise with others, is smart..."
4032,"Societal Stereotypes,i-Societal Stereotypes,i-...",Cashiers are women.
4033,"Societal Stereotypes,i-Societal Stereotypes,i-...",Distribution supervisors are men.
4034,"O,Behavioural Stereotypes,O,Behavioural Stereo...",strong leadership and leadership skills (abili...
4035,"O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O",Work cooperatively with each client’s team (wh...

In [ ]:
final_dataset.to_csv('./')