# Data Cleaning and Preparing

## Step 1: initialization

In [1]:
import pandas as pd
import numpy as np

import nltk
import string
import re

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import word_tokenize, sent_tokenize

In [2]:
#initialize the lematizer and stemmer, which will be used later.
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

#to be used in the cleaning function
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

print(stopwords.words('english'))
#print(stopwords.words('chinese'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to /Users/bill/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/bill/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/bill/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/bill/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

## Step 2: Clean the Data
The dataset, EMSCAD, is downloaded from Kaggle, the link is here:
https://www.kaggle.com/datasets/amruthjithrajvr/recruitment-scam

In [3]:
#load the EMSCAD dataset
df = pd.read_csv('./DataSet.csv')
print("The shape of the dataframe is",df.shape)

The shape of the dataframe is (17880, 18)

### Get the dataframe for only the Job description column.

In [4]:
df_jd = pd.DataFrame(df['description'])
print("The shape of the dataframe is", df_jd.shape) 
print("Display one Job description sample:\n") 
print(df_jd['description'][0])

The shape of the dataframe is (17880, 1)
Display one Job description sample:

<p>Food52, a fast-growing, James Beard Award-winning online food community and crowd-sourced and curated recipe hub, is currently interviewing full- and part-time unpaid interns to work in a small team of editors, executives, and developers in its New York City headquarters.</p>
<ul>
<li>Reproducing and/or repackaging existing Food52 content for a number of partner sites, such as Huffington Post, Yahoo, Buzzfeed, and more in their various content management systems</li>
<li>Researching blogs and websites for the Provisions by Food52 Affiliate Program</li>
<li>Assisting in day-to-day affiliate program support, such as screening affiliates and assisting in any affiliate inquiries</li>
<li>Supporting with PR &amp; Events when needed</li>
<li>Helping with office administrative work, such as filing, mailing, and preparing for meetings</li>
<li>Working with developers to document bugs and suggest improvements to the site</li>
<li>Supporting the marketing and executive staff</li>
</ul>

### To display the Job description sample in a more readable way.

In [5]:
from IPython.core.display import display, HTML
display(HTML(df_jd['description'][0]))

### Prepare the cleaning function

In [6]:
# remove the HTML tags
def striphtml(data):
    p = re.compile(r'<.*?>')
    return p.sub('', data)


def clean(text):
    
    # remove the HTML tags
    #text = striphtml(text)
    
    # Lowercase text
    text = text.lower()
    
    # Remove punctuation
    text = text.replace(':', ' ')
    text = text.replace('\'', ' ')
    translator = str.maketrans('', '', string.punctuation)
    text = text.translate(translator)
    
    # Remove extra spaces from text
    text = " ".join(text.split())
    
    # Remove stopwords function
    # Tokenize : get a list of tokens
    stop_words = set(stopwords.words("english")) # nltk.download('stopwords') - this is done at the begining
    word_tokens = word_tokenize(text)
    text = [word for word in word_tokens if word not in stop_words]
    
    # Lemmatize words
    text = [lemmatizer.lemmatize(word, pos ='v') for word in text]
    
    # Stem words
    text = [stemmer.stem(word) for word in text]
    
    return text

In [7]:
def simple_clean(text):
    # Lowercase text
    text = text.lower()
    
    # Remove numbers
    #text = re.sub(r'\d+', '', text)
    
    # Remove punctuation
    translator = str.maketrans('', '', string.punctuation)
    text = text.translate(translator)
    return text

In [8]:
# for now, I only used some of the examples (df_jd['description'][1:100]), due to the computing capability.

for index, sentence in df_jd['description'][1:2].iteritems(): 
    #df_jd_sentence.add(clean(sentence))
    print(clean(sentence))

['organis', 'focu', 'vibrant', 'awesomedo', 'passion', 'custom', 'servic', 'slick', 'type', 'skill', 'mayb', 'account', 'manag', 'think', 'administr', 'cooler', 'polar', 'bear', 'jetski', 'need', 'hear', 'cloud', 'video', 'product', 'servic', 'opper', 'glodal', 'level', 'yeah', 'pretti', 'cool', 'seriou', 'deliv', 'world', 'class', 'product', 'excel', 'custom', 'serviceour', 'rapidli', 'expand', 'busi', 'look', 'talent', 'project', 'manag', 'manag', 'success', 'deliveri', 'video', 'project', 'manag', 'client', 'commun', 'drive', 'product', 'process', 'work', 'coolest', 'brand', 'planet', 'learn', 'global', 'team', 'repres', 'nz', 'huge', 'way', 'enter', 'next', 'growth', 'stage', 'busi', 'grow', 'quickli', 'intern', 'therefor', 'posit', 'burst', 'opportun', 'right', 'person', 'enter', 'busi', 'right', 'time', '90', 'second', 'world', 'cloud', 'video', 'product', 'servic', 'http', '90urlfbe6559afac620a3cd2c22281f7b8d0eef56a73e3d9a311e2f1ca13d081dd630', '90', 'second', 'world', 'cloud', 'video', 'product', 'servic', 'enabl', 'brand', 'agenc', 'get', 'high', 'qualiti', 'onlin', 'video', 'content', 'shoot', 'produc', 'anywher', 'world', 'fast', 'afford', 'manag', 'seamlessli', 'cloud', 'purchas', 'publish', '90', 'second', 'remov', 'hassl', 'cost', 'risk', 'speed', 'issu', 'work', 'regular', 'video', 'product', 'compani', 'manag', 'everi', 'aspect', 'video', 'project', 'beauti', 'onlin', 'experi', 'grow', 'network', '2000', 'rat', 'video', 'profession', '50', 'countri', 'dedic', 'product', 'success', 'team', '5', 'countri', 'guarante', 'video', 'project', 'success', '100', 'easi', 'commiss', 'quick', 'googl', 'adword', 'campaign90', 'second', 'produc', 'almost', '4000', 'video', '30', 'countri', '500', 'global', 'brand', 'includ', 'world', 'largest', 'includ', 'paypal', 'l', 'oreal', 'soni', 'barclay', 'offic', 'auckland', 'london', 'sydney', 'tokyo', 'amp', 'singaporeour', 'auckland', 'offic', 'base', 'right', 'heart', 'wynyard', 'quarter', 'innov', 'precinct', 'gridakl']

# Step 2: preparing the data

In [18]:
# get the list of biased words or phrases
df_biased_words = pd.read_excel("./bias_words.xlsx")
print(df_biased_words.shape)
print(df_biased_words.head())
print(df_biased_words['Masculine/Feminine Bias'].value_counts())

(159, 2)
  Biased Words or Phrases Masculine/Feminine Bias
0                  active          Masculine Bias
1             adventurous          Masculine Bias
2                 aggress          Masculine Bias
3                 ambitio          Masculine Bias
4                   analy          Masculine Bias
Masculine Bias    95
Feminine Bias     64
Name: Masculine/Feminine Bias, dtype: int64

In [19]:
# exclude generic he/she and dupulicated words in df_biased_words
words_to_exclude = ['she', 'her', 'hers', 'herself', 'he', 'himself', 'him', 'his']
df_biased_words = df_biased_words[~df_biased_words['Biased Words or Phrases'].isin(words_to_exclude)]
df_biased_words = df_biased_words.drop_duplicates()

print(df_biased_words.shape)
print(df_biased_words.isna().any())# check if there's any empty cells
print(df_biased_words.head())
print(df_biased_words['Masculine/Feminine Bias'].value_counts())

(137, 2)
Biased Words or Phrases    False
Masculine/Feminine Bias    False
dtype: bool
  Biased Words or Phrases Masculine/Feminine Bias
0                  active          Masculine Bias
1             adventurous          Masculine Bias
2                 aggress          Masculine Bias
3                 ambitio          Masculine Bias
4                   analy          Masculine Bias
Masculine Bias    81
Feminine Bias     56
Name: Masculine/Feminine Bias, dtype: int64

In [20]:
# get the list of male_words and female words
male_words = (df_biased_words.loc[df_biased_words['Masculine/Feminine Bias'] == 'Masculine Bias'])['Biased Words or Phrases'].values
female_words = (df_biased_words.loc[df_biased_words['Masculine/Feminine Bias'] == 'Feminine Bias'])['Biased Words or Phrases'].values

In [239]:
print(male_words)
print(len(male_words))

['active' 'adventurous' 'aggress' 'ambitio' 'analy' 'assert' 'athlet'
 'autonom' 'boast' 'challeng' 'compet' 'confident' 'courag' 'decide'
 'decisive' 'decision' 'determin' 'dominant' 'domina' 'force' 'greedy'
 'headstrong' 'hierarch' 'hostil' 'implusive' 'independen' 'individual'
 'intellect' 'lead' 'logic' 'masculine' 'objective' 'opinion' 'outspoken'
 'persist' 'principle' 'reckless' 'stubborn' 'superior' 'self-confiden'
 'self-sufficien' 'self-relian' 'manmade' 'chairman' 'son' 'fireman'
 'freshman' 'man' 'mankind' 'manpower' 'boyfriend' 'husband' 'policeman'
 'walter' 'brother' 'spokesman' 'upperclassman' 'gentleman' 'alumnus'
 'alumni' 'man up' 'Mr.' 'man-made' 'the common man' 'mailman' 'steward'
 'actor' 'congressman' 'acts as a leader' 'aggressive' 'ambitious'
 'analytical' 'assertive' 'athletic' 'competitive' 'defends own beliefs'
 'forceful' 'has leadership abilities' 'independent' 'individualistic'
 'makes decisions easily']
81

In [240]:
print(female_words)
print(len(female_words))

['affectionate' 'child' 'cheer' 'commit' 'communal' 'compassion' 'connect'
 'considerate' 'cooperat' 'depend' 'emotiona' 'empath' 'feminine'
 'flatterable' 'gentle' 'honest' 'interpersonal' 'interdependen'
 'interpersona' 'kind' 'kinship' 'loyal' 'modesty' 'nag' 'nurtur'
 'pleasant' 'polite' 'quiet' 'respon' 'sensitiv' 'submissive' 'support'
 'sympath' 'tender' 'together' 'trust' 'understand' 'warm' 'whin' 'yield'
 'daughter' 'wife' 'girlfriend' 'waitress' 'sister' 'ladies' 'alumna'
 'alumnae' 'hysterical' 'shrill' 'nagging' 'Mrs.' 'Miss.' 'Ms.'
 'stewardess' 'actress']
56

In [23]:
#start to test for checking male and female worsd

In [ ]:
### using sample data containing only 3 sentences

In [157]:
data = {'sentences': ['Must be an extrovert with an innate quality of easily connecting with people.', 
                      'You are self-motivated and decisive, but willing to make changes with minimal grumbling when the client demands it.', 
                      'We are looking for a young and driven candidate who can bring innovation into the organization.']}

df_test_sentences = pd.DataFrame(data)

In [158]:
df_test_sentences

                                           sentences
0  Must be an extrovert with an innate quality of...
1  You are self-motivated and decisive, but willi...
2  We are looking for a young and driven candidat...

In [156]:
### using real data extracted from EMSCAD

In [265]:
df_jd.shape

(17880, 1)

In [408]:
df_jd_sentences = df_jd['description'][0:800]    # here to modify the total number of sentences.

In [409]:
df_jd_sentences.head()

0    <p>Food52, a fast-growing, James Beard Award-w...
1    <p>Organised - Focused - Vibrant - Awesome!<br...
2    <p>Our client, located in Houston, is actively...
3    <p><b>THE COMPANY: ESRI – Environmental System...
4    <p><b>JOB TITLE:</b> Itemization Review Manage...
Name: description, dtype: object

In [410]:
#temp_sentences = nltk.sent_tokenize(striphtml(df_jd_sentences[3]))

In [411]:
list_sentences = []

for index, sent in df_jd_sentences.iteritems():
    list_sentences += nltk.sent_tokenize(striphtml(sent))
    #print(index)

In [412]:
len(list_sentences)

5817

In [413]:
df_real_sentences = pd.DataFrame()
df_real_sentences['sentence'] = list_sentences
df_real_sentences.head(20)

                                             sentence
0   Food52, a fast-growing, James Beard Award-winn...
1   Reproducing and/or repackaging existing Food52...
2   Organised - Focused - Vibrant - Awesome!Do you...
3                                Slick typing skills?
4                           Maybe Account Management?
5   ...And think administration is cooler than a p...
6                           Then we need to hear you!
7   We are the Cloud Video Production Service and ...
8                             Yeah, it's pretty cool.
9   Serious about delivering a world class product...
10  Work with some of the coolest brands on the pl...
11  We are entering the next growth stage of our b...
12  Therefore, the position is bursting with oppor...
13  90 Seconds, the worlds Cloud Video Production ...
14  Fast, affordable, and all managed seamlessly i...
15  90 Seconds removes the hassle, cost, risk and ...
16  With a growing network of over 2,000 rated vid...
17  It's as easy as commissioning a quick google a...
18  Our client, located in Houston, is actively se...
19           A strong dedication to safety is a must.

In [414]:
df_real_sentences

                                               sentence
0     Food52, a fast-growing, James Beard Award-winn...
1     Reproducing and/or repackaging existing Food52...
2     Organised - Focused - Vibrant - Awesome!Do you...
3                                  Slick typing skills?
4                             Maybe Account Management?
...                                                 ...
5812                                  Dipple is Hiring!
5813  $1,000  SIGN ON BONUS AFTER 6 MONTHS OF EMPLOY...
5814  Are you interested in working for an establish...
5815                                If so, apply today!
5816                            You'll be glad you did!

[5817 rows x 1 columns]

## The following block is to find out in each sentence if there is any male or female words

In [415]:
df_check_result = pd.DataFrame()

for index, sentence in df_real_sentences.iterrows():
    temp_sentence = sentence['sentence']
    tokenized_sentence = clean(temp_sentence)
    
    # there will be columns named 'category', 'word_in_sentences', and 'biased_term' in 'df_check_result' 
    category = 'neutral' 
    word_in_sentence = 'None' # 
    word = 'None' # 
    
    # check for male words, and them put the outcome to 
    for male_word in male_words:
        if re.search(r"\b{}\b".format(male_word), temp_sentence.lower().strip()): # search for 'male_word' in 'temp_sentence' using RE
            # set output if 'male_word' is found
            category = 'masculine'
            word_in_sentence = male_word
            word = male_word
            #when there is no male word in the temp_sentence 
        else:
            for token in tokenized_sentence:
                if len(male_word) > 3:
                    if simple_clean(male_word) == token[:len(male_word)]: # check if the male_word is found at the beginning of the token
                        category = 'masculine'
                        word_in_sentence = token
                        word = male_word
                    elif simple_clean(male_word) == token[-len(male_word):]: # check if the male_word is found at the end of the token
                        category = 'masculine'
                        word_in_sentence = token
                        word = male_word
            
    if category == 'masculine': # put the outcome in a dict, then append them to 'df_check_result'
        dict = {'sentence': temp_sentence,
                'word_in_Sentence': word_in_sentence,
                'biased_term': word,
                'category': category
               }
        #df_check_result = df_check_result.append(dict, ignore_index = True)
        df_check_result = pd.concat([df_check_result, pd.DataFrame([dict])], ignore_index=True)

        
        
    # the completely same process for checking for female words
    for female_word in female_words:
        if re.search(r"\b{}\b".format(female_word), temp_sentence.lower().strip()):
            category = 'feminine'
            word_in_sentence = female_word
            word = female_word
        else:
            for token in tokenized_sentence:
                if len(female_word) > 3:
                    if simple_clean(female_word) == token[:len(female_word)]:
                        category = 'feminine'
                        word_in_sentence = token
                        word = female_word
                    elif simple_clean(female_word) == token[-len(female_word):]:
                        category = 'feminine'
                        word_in_sentence = token
                        word = female_word
                    
    if category == 'feminine':
        dict = {'sentence': temp_sentence,
                'word_in_Sentence': word_in_sentence,
                'biased_term': word,
                'category': category
               }
        #df_check_result = df_check_result.append(dict, ignore_index = True)
        df_check_result = pd.concat([df_check_result, pd.DataFrame([dict])], ignore_index=True)

    
    
    # This is to roughly monitor how many lines/sentences have been proceeded when running this block of code
    if index%1000 == 0:
        print(f'more than {index} sentences have been processed.' )
        
    #print(f'{index + 1} sentences have been processed.' )

more than 0 sentences have been processed.
more than 1000 sentences have been processed.
more than 2000 sentences have been processed.
more than 3000 sentences have been processed.
more than 4000 sentences have been processed.
more than 5000 sentences have been processed.

In [416]:
# all the reult frome checking male/female words are now put into 'df_check_result'
df_check_result

,sentence,word_in_Sentence,biased_term,category
0,Reproducing and/or repackaging existing Food52...,support,support,feminine
1,Esri’s geographic information system (GIS) tec...,understand,understand,feminine
2,"Privately held, we offer exceptional benefits,...",competitive,competitive,masculine
3,"As part of an account team, you will be respon...",respons,respon,feminine
4,Specifically…\r\n\r\nProspect and develop oppo...,competitive,competitive,masculine
...,...,...,...,...
2207,The right candidate will be an integral part o...,support,support,feminine
2208,Responsibilities:\r\n\r\n Help customers throu...,respons,respon,feminine
2209,Apply For This Job Here\r\nJob Title: ...,analysi,analy,masculine
2210,Apply For This Job Here\r\nJob Title: ...,respons,respon,feminine
2211,StudyHall's mission is simple: to connect stud...,connect,connect,feminine

## This block is to find out male or female words in sentences as well, only to store outcomes in different form

In [417]:
# I'm using df_jd_sentences to store sentences extracted from EMSCAD dataset.

In [418]:
df_jd_result = pd.DataFrame()

for index, sentence in df_real_sentences.iterrows():
    temp_sentence = sentence['sentence']
    tokenized_sentence = clean(temp_sentence)
    words_in_sentence = []
    words = []
    
    if len(temp_sentence) < 180 and temp_sentence[0].isupper():
        # check for male words
        for male_word in male_words:
            if re.search(r"\b{}\b".format(male_word), temp_sentence.lower().strip()):
                
                words_in_sentence.append([male_word, 'M'])
                #words_in_sentence = words_in_sentence.concat([[male_word, 'M']])
                words.append([male_word, 'M'])
                #words = words.concat([[male_word, 'M']])
                
            else:
                for token in tokenized_sentence:
                    if len(male_word) > 3:
                        if simple_clean(male_word) == token[:len(male_word)]:
                            words_in_sentence.append([token, 'M'])
                            words.append([male_word, 'M'])
                        elif simple_clean(male_word) == token[-len(male_word):]:
                            if token[:len(male_word)] != token[-len(male_word):]:
                                words_in_sentence.append([token, 'M'])
                                words.append([male_word, 'M'])

        # check for female words
        for female_word in female_words:
            if re.search(r"\b{}\b".format(female_word), temp_sentence.lower().strip()):
                words_in_sentence.append([female_word, 'F'])
                words.append([male_word, 'F'])
            else:
                for token in tokenized_sentence:
                    if len(female_word) > 3:
                        if simple_clean(female_word) == token[:len(female_word)]:
                            words_in_sentence.append([token, 'F'])
                            words.append([female_word, 'F'])
                        elif simple_clean(female_word) == token[-len(female_word):]:
                            if token[:len(female_word)] != token[-len(female_word):]:
                                words_in_sentence.append([token, 'F'])
                                words.append([female_word, 'F'])

        if len(words) > 0:
            dict = {'sentence': temp_sentence,
                    'word_in_Sentence': words_in_sentence,
                    'biased_term': words}
            #df_jd_result = df_jd_result.append(dict, ignore_index = True)
            df_jd_result = pd.concat([df_jd_result, pd.DataFrame([dict])], ignore_index=True)


        if index%1000 == 0:
            print(index)

1000
3000
4000

In [419]:
df_jd_result

,sentence,word_in_Sentence,biased_term
0,"Privately held, we offer exceptional benefits,...","[[competit, M], [competitive, M]]","[[compet, M], [competitive, M]]"
1,"As part of an account team, you will be respon...","[[respons, F]]","[[respon, F]]"
2,Job Overview\r\nApex is an environmental consu...,"[[leadership, M]]","[[lead, M]]"
3,Driven by an entrepreneurial spirit and a dedi...,"[[respons, F]]","[[respon, F]]"
4,Working in partnership with our public and pri...,"[[support, F]]","[[makes decisions easily, F]]"
...,...,...,...
1099,Strategize and work closely with Account Manag...,"[[determin, M]]","[[determin, M]]"
1100,"You should work well with others, be open to c...","[[challeng, M]]","[[challeng, M]]"
1101,What is their business model?- Competitor comp...,"[[competitor, M]]","[[compet, M]]"
1102,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]"
1103,StudyHall's mission is simple: to connect stud...,"[[connect, F]]","[[makes decisions easily, F]]"

In [420]:
def clean_sentence(sentence):
    temp = " ".join(sentence.split())
    temp = temp.strip()

    char_to_remove = 0
    for x in temp.split()[0]:
        if not x.isalpha():
            char_to_remove += 1
    temp = temp[char_to_remove: len(temp) - char_to_remove]
    return sentence

'''
In Pandas, the map() method is used to apply a function to every element of a Series object
or a column of a DataFrame object. The map() method takes a function as an argument and applies
it to each element of the Series or column, returning a new Series or column with the results of
the function applied to each element.
'''

#cleaning the values in the 'sentence' column of 'df_new' using the 'clean_sentence' function
df_jd_result['sentence'] = df_jd_result.sentence.map(lambda x:clean_sentence(x))

In [421]:
df_jd_result

,sentence,word_in_Sentence,biased_term
0,"Privately held, we offer exceptional benefits,...","[[competit, M], [competitive, M]]","[[compet, M], [competitive, M]]"
1,"As part of an account team, you will be respon...","[[respons, F]]","[[respon, F]]"
2,Job Overview\r\nApex is an environmental consu...,"[[leadership, M]]","[[lead, M]]"
3,Driven by an entrepreneurial spirit and a dedi...,"[[respons, F]]","[[respon, F]]"
4,Working in partnership with our public and pri...,"[[support, F]]","[[makes decisions easily, F]]"
...,...,...,...
1099,Strategize and work closely with Account Manag...,"[[determin, M]]","[[determin, M]]"
1100,"You should work well with others, be open to c...","[[challeng, M]]","[[challeng, M]]"
1101,What is their business model?- Competitor comp...,"[[competitor, M]]","[[compet, M]]"
1102,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]"
1103,StudyHall's mission is simple: to connect stud...,"[[connect, F]]","[[makes decisions easily, F]]"

### explore filtered sentences

In [422]:
df_jd_result.biased_term.value_counts()

[[respon, F]]                      211
[[makes decisions easily, F]]      146
[[lead, M]]                        126
[[support, F]]                     117
[[analy, M]]                        58
                                  ...
[[decision, M], [respon, F]]         1
[[decisive, M]]                      1
[[challeng, M], [nurtur, F]]         1
[[steward, M]]                       1
[[aggress, M], [aggressive, M]]      1
Name: biased_term, Length: 123, dtype: int64

In [423]:
df_jd_result.biased_term.value_counts().values

array([211, 146, 126, 117,  58,  33,  30,  30,  26,  18,  17,  14,  13,
        10,   9,   9,   8,   8,   8,   8,   8,   8,   8,   7,   7,   7,
         6,   6,   6,   6,   5,   4,   4,   4,   3,   3,   3,   3,   2,
         2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,
         2,   2,   2,   2,   2,   2,   2,   2,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1])

In [424]:
len(list(male_words) + list(female_words))

137

In [425]:
'''
not_found_words = []
list_of_found_words = []
reuslt_words = df_jd_result.biased_term.value_counts().keys().to_list()

for item in reuslt_words:
    list_of_found_words.append(item[0][0])
print(len(list_of_found_words))

for word in list(male_words) + list(female_words):
    if word not in found_words_new:
        not_found_words.append(word)
         
len(not_found_words)

'''

'\nnot_found_words = []\nlist_of_found_words = []\nreuslt_words = df_jd_result.biased_term.value_counts().keys().to_list()\n\nfor item in reuslt_words:\n    list_of_found_words.append(item[0][0])\nprint(len(list_of_found_words))\n\nfor word in list(male_words) + list(female_words):\n    if word not in found_words_new:\n        not_found_words.append(word)\n         \nlen(not_found_words)\n\n'

### save data

In [426]:
df_jd_result.shape

(1104, 3)

In [427]:
# add a coloum named annotation
annotation = []
for index, row in df_jd_result.iterrows():
    annotation.append(row[1][0][0])
print(len(annotation))
#print(annotation)

1104

In [428]:
df_jd_result['annotation'] = annotation

In [429]:
df_jd_result.shape

(1104, 4)

In [430]:
df_jd_result.tail()

,sentence,word_in_Sentence,biased_term,annotation
1099,Strategize and work closely with Account Manag...,"[[determin, M]]","[[determin, M]]",determin
1100,"You should work well with others, be open to c...","[[challeng, M]]","[[challeng, M]]",challeng
1101,What is their business model?- Competitor comp...,"[[competitor, M]]","[[compet, M]]",competitor
1102,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]",support
1103,StudyHall's mission is simple: to connect stud...,"[[connect, F]]","[[makes decisions easily, F]]",connect

In [431]:
df_jd_result

,sentence,word_in_Sentence,biased_term,annotation
0,"Privately held, we offer exceptional benefits,...","[[competit, M], [competitive, M]]","[[compet, M], [competitive, M]]",competit
1,"As part of an account team, you will be respon...","[[respons, F]]","[[respon, F]]",respons
2,Job Overview\r\nApex is an environmental consu...,"[[leadership, M]]","[[lead, M]]",leadership
3,Driven by an entrepreneurial spirit and a dedi...,"[[respons, F]]","[[respon, F]]",respons
4,Working in partnership with our public and pri...,"[[support, F]]","[[makes decisions easily, F]]",support
...,...,...,...,...
1099,Strategize and work closely with Account Manag...,"[[determin, M]]","[[determin, M]]",determin
1100,"You should work well with others, be open to c...","[[challeng, M]]","[[challeng, M]]",challeng
1101,What is their business model?- Competitor comp...,"[[competitor, M]]","[[compet, M]]",competitor
1102,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]",support
1103,StudyHall's mission is simple: to connect stud...,"[[connect, F]]","[[makes decisions easily, F]]",connect

In [432]:
df1, df2, df3, df4 = np.array_split(df_jd_result, 4)

In [433]:
df1

,sentence,word_in_Sentence,biased_term,annotation
0,"Privately held, we offer exceptional benefits,...","[[competit, M], [competitive, M]]","[[compet, M], [competitive, M]]",competit
1,"As part of an account team, you will be respon...","[[respons, F]]","[[respon, F]]",respons
2,Job Overview\r\nApex is an environmental consu...,"[[leadership, M]]","[[lead, M]]",leadership
3,Driven by an entrepreneurial spirit and a dedi...,"[[respons, F]]","[[respon, F]]",respons
4,Working in partnership with our public and pri...,"[[support, F]]","[[makes decisions easily, F]]",support
...,...,...,...,...
271,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]",support
272,Responsibilities:\r\n\r\nData entry\r\nPerform...,"[[respons, F]]","[[respon, F]]",respons
273,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]",support
274,Responsibilities:\r\n\r\nOperate Switchboard\r...,"[[respons, F]]","[[respon, F]]",respons
275,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]",support

In [434]:
df2

,sentence,word_in_Sentence,biased_term,annotation
276,Responsibilities:\r\n\r\nAbility to learn and ...,"[[respons, F]]","[[respon, F]]",respons
277,We are looking for a passionate individual to ...,"[[individual, M]]","[[individual, M]]",individual
278,This unique individual will be a brand ambassa...,"[[individual, M]]","[[individual, M]]",individual
279,"As such, he/she will have a gregarious, extrov...","[[connect, F]]","[[makes decisions easily, F]]",connect
280,It is imperative that the individual fully bel...,"[[individual, M]]","[[individual, M]]",individual
...,...,...,...,...
547,"As a UI Engineer, you're responsible for the e...","[[respons, F]]","[[respon, F]]",respons
548,"We launched in July of 2013, are completely bo...","[[support, F]]","[[support, F]]",support
549,The VP of Product Management is responsible fo...,"[[respons, F]]","[[respon, F]]",respons
550,"The role requires strategic thinking, great co...","[[together, F]]","[[makes decisions easily, F]]",together
551,"The role reports directly to the CEO, and spec...","[[lead, M], [respons, F]]","[[lead, M], [respon, F]]",lead

In [435]:
df3

,sentence,word_in_Sentence,biased_term,annotation
552,As a full stack Scala developer at BizReach yo...,"[[leader, M]]","[[lead, M]]",leader
553,Our online education marketplace will help stu...,"[[together, F]]","[[makes decisions easily, F]]",together
554,Your roles and responsibilities:\r\nYour main ...,"[[respons, F]]","[[respon, F]]",respons
555,Part of your key responsibility is also to loo...,"[[respons, F]]","[[respon, F]]",respons
556,This job is not for people who are not fully p...,"[[challeng, M]]","[[challeng, M]]",challeng
...,...,...,...,...
823,"Here at Shyp, we’re building the #1 brand cons...","[[trust, F]]","[[makes decisions easily, F]]",trust
824,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]",support
825,Responsibilities:\r\n\r\nPerform various Mail ...,"[[respons, F]]","[[respon, F]]",respons
826,It is also vital for your role as an Outside S...,"[[empathi, F]]","[[empath, F]]",empathi
827,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]",support

In [436]:
df4

,sentence,word_in_Sentence,biased_term,annotation
828,Word and Excel)\r\n• Ability to work independe...,"[[independ, F]]","[[depend, F]]",independ
829,QUALIFICATIONS:\r\nDemonstrated aptitude for p...,"[[determin, M]]","[[determin, M]]",determin
830,Must be results-orientated and able to work bo...,"[[independ, F]]","[[depend, F]]",independ
831,Well-funded travel start-up in center of Bruss...,"[[analyt, M]]","[[analy, M]]",analyt
832,The ideal person has the communication skills ...,"[[understand, F]]","[[makes decisions easily, F]]",understand
...,...,...,...,...
1099,Strategize and work closely with Account Manag...,"[[determin, M]]","[[determin, M]]",determin
1100,"You should work well with others, be open to c...","[[challeng, M]]","[[challeng, M]]",challeng
1101,What is their business model?- Competitor comp...,"[[competitor, M]]","[[compet, M]]",competitor
1102,The right candidate will be an integral part o...,"[[support, F]]","[[support, F]]",support
1103,StudyHall's mission is simple: to connect stud...,"[[connect, F]]","[[makes decisions easily, F]]",connect