In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./sentences.csv")

In [3]:
df.shape

(138608, 1)

In [4]:
df.head(10)

                                           sentences
0  Food52, a fast-growing, James Beard Award-winn...
1           Organised - Focused - Vibrant - Awesome!
2        Do you have a passion for customer service?
3                               Slick typing skills?
4                          Maybe Account Management?
5  And think administration is cooler than a pola...
6                          Then we need to hear you!
7  We are the Cloud Video Production Service and ...
8                            Yeah, it's pretty cool.
9  Serious about delivering a world class product...

In [5]:
df2 = pd.read_csv("./behavioural_bias_labeled_data.csv")

In [9]:
df2.label.value_counts()

[[0, 9, 'Non-biased']]                               8
[[0, 11, 'Non-biased']]                              7
[[0, 10, 'Non-biased']]                              6
[[0, 12, 'Behavioural Stereotypes']]                 4
[[20, 29, 'Behavioural Stereotypes']]                4
                                                    ..
[[15, 24, 'Non-biased'], [87, 97, 'Non-biased']]     1
[[63, 71, 'Non-biased']]                             1
[[15, 23, 'Non-biased']]                             1
[[50, 60, 'Non-biased']]                             1
[[98, 110, 'Non-biased'], [43, 53, 'Non-biased']]    1
Name: label, Length: 527, dtype: int64